/New folder
/PDF
/LinearStructures/SumGenerator/.vs
/LinearStructures/SumGenerator/SumGenerator/bin
/LinearStructures/SumGenerator/SumGenerator/obj
/LinearStructures/FullNameGenerator/.vs
/LinearStructures/FullNameGenerator/FullNameGenerator/bin
/LinearStructures/FullNameGenerator/FullNameGenerator/obj
