/New folder
/PDF
/LinearStructures/SumGenerator/.vs
/LinearStructures/SumGenerator/SumGenerator/bin
/LinearStructures/SumGenerator/SumGenerator/obj
/LinearStructures/FullNameGenerator/.vs
/LinearStructures/FullNameGenerator/FullNameGenerator/bin
/LinearStructures/FullNameGenerator/FullNameGenerator/obj
/Strings/NameLastNameSeparation/.vs
/Strings/NameLastNameSeparation/NameLastNameSeparation/bin
/Strings/NameLastNameSeparation/NameLastNameSeparation/obj
/Strings/RemovedWordsFromSentence/.vs
/Strings/RemovedWordsFromSentence/RemovedWordsFromSentence/bin
/Strings/RemovedWordsFromSentence/RemovedWordsFromSentence/obj
/Strings/StringMethods/.vs
/Strings/StringMethods/StringMethods/bin
/Strings/StringMethods/StringMethods/obj
/Conditions/GraterNumber/.vs
/Conditions/GraterNumber/GraterNumber/bin
/Conditions/GraterNumber/GraterNumber/obj
/Conditions/NestedConditions/.vs
/Conditions/NestedConditions/NestedConditions/bin
/Conditions/NestedConditions/NestedConditions/obj
/Conditions/DaysInMonth/.vs
/Conditions/DaysInMonth/DaysInMonth/bin
/Conditions/DaysInMonth/DaysInMonth/obj
/Conditions/ElseIfExample/.vs
/Conditions/ElseIfExample/ElseIfExample/bin
/Conditions/ElseIfExample/ElseIfExample/obj
/WhileLoop/WhileLoopExample/.vs
/WhileLoop/WhileLoopExample/WhileLoopExample/bin
/WhileLoop/WhileLoopExample/WhileLoopExample/obj
/ForLoop/ForLoopExample/.vs
/ForLoop/ForLoopExample/ForLoopExample/bin
/ForLoop/ForLoopExample/ForLoopExample/obj
/ForLoop/Example2/.vs
/ForLoop/Example2/Example2/bin
/ForLoop/Example2/Example2/obj
/Do-While_Loop/Example1/.vs
/Do-While_Loop/Example1/Example1/bin
/Do-While_Loop/Example1/Example1/obj
/Do-While_Loop/Example2/.vs
/Do-While_Loop/Example2/Example2/bin
/Do-While_Loop/Example2/Example2/obj
/Try_Catch/Example1/.vs
/Try_Catch/Example1/Example1/bin
/Try_Catch/Example1/Example1/obj
/Methods/Example1/.vs
/Methods/Example1/Example1/bin
/Methods/Example1/Example1/obj
/Ref-Out/Example/.vs
/Ref-Out/Example/Example/bin
/Ref-Out/Example/Example/obj
/Ref-Out/Example1ValueTypes/.vs
/Ref-Out/Example1ValueTypes/Example1ValueTypes/bin
/Ref-Out/Example1ValueTypes/Example1ValueTypes/obj
/Ref-Out/Example2ValueTypes/.vs
/Ref-Out/Example2ValueTypes/Example2ValueTypes/bin
/Ref-Out/Example2ValueTypes/Example2ValueTypes/obj
/Ref-Out/Example3ReferentType/.vs
/Ref-Out/Example3ReferentType/Example3ReferentType/bin
/Ref-Out/Example3ReferentType/Example3ReferentType/obj
/StreamReader-StreamWriter/Example 1/.vs
/StreamReader-StreamWriter/Example 1/Example 1/bin
/StreamReader-StreamWriter/Example 1/Example 1/obj
/Recursion/Example1/.vs
/Recursion/Example1/Example1/bin
/Recursion/Example1/Example1/obj
/Recursion/Example2/.vs
/Recursion/Example2/Example2/bin
/Recursion/Example2/Example2/obj
/Arrays/Example1/.vs
/Arrays/Example1/Example1/bin
/Arrays/Example1/Example1/obj
/Arrays/Example 2/.vs
/Arrays/Example 2/Example 2/bin
/Arrays/Example 2/Example 2/obj
